
  <ul>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, :class => "title" %>
    </li>

    <li>
      <%= f.text_field :description, :class => "des" %>
    </li>

    <li>
      <%= f.label :completed? %>
      <%= f.check_box :is_complete %>
    </li>
  </ul>
