<h3> Title: <%=@task[:title] %> </h3>
<p> Description: <%=@task[:description] %> </p>
<p>
  Status:
  <% if @task[:is_complete] %>
    <%= "completed" %>
  <% else %>
    <%= "uncompleted" %>
  <% end %>
  at: <%=@task[:complete_at] %>
</p>

<p><%= button_to "Edit", edit_path(@task[:id]), method: :get %></p>
<p><%= button_to "Delete", { action: "destroy", id: @task.id }, method: :delete, data: {confirm:"Are you sure?"} %></p>
