<!DOCTYPE html>
<html>
  <head>
    <title>TaskListRails</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Gochi+Hand|Gloria+Hallelujah|David+Libre|Kranky" rel="stylesheet">
  </head>


  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to( "Home", index_path ) %></li>
          <% if session[:user_id] %>
            <li>
              <%= button_to "Log out", sessions_destroy_path, method: :delete %>
            </li>
          <% end %>

        </ul>
      </nav>
    </header>


    <%= yield %>



    <footer>
      @Maya Wang, 2016
    </footer>

  </body>
</html>
